__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.idea/
.vscode/

*.log
.DS_Store
Thumbs.db

records/*.json
outputs/
temp/
tmp/
ai_experience.json
calibration_tools/*.jpg
calibration_tools/*.png

.pytest_cache/

Gomoku_Vision_System_Pro/__pycache__/
arm/__pycache__/
gomoku/__pycache__/

Gomoku_Vision_System_Pro/ai_experience.json
